---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import TopSection from "../components/TopSection.astro";
import github from "../assets/graphics/github.png";
import discord from "../assets/graphics/discord.svg?url";
import nodejs from "../assets/graphics/nodejs.png";
import svelte from "../assets/graphics/svelte.png";
import actix from "../assets/graphics/actix.png";
import rocket from "../assets/graphics/rocket.svg?url";
import rust from "../assets/graphics/rust.svg?url";
import typescript from "../assets/graphics/typescript.png";
import sass from "../assets/graphics/sass.png";
import email from "../assets/graphics/email.svg?url";
import ProjectCard from "../components/ProjectCard.astro";
import { Image } from "@astrojs/image/components";

const projects = (await Astro.glob("./p/*.md"))
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).getTime() -
      new Date(a.frontmatter.date).getTime()
  )
  .slice(0, 6);
---

<Layout>
  <Fragment slot="head">
    <title>LaSpruca</title>
    <meta name="description" content="All-rounder developer" />
  </Fragment>

  <TopSection />

  <Section>
    <span slot="title">Who am I</span>
    <span slot="subtitle"
      >I am a Year 13 student at Whangārei Boys' High School, a member of QRL,
      and a developer.</span
    >

    <p>
      I was born and raised in Whangārei, New Zealand. I found my love for IT in
      my second year of school. From then on I have always tinkered with
      computers, with my tinkering getting more serious as I got further on
      through school.
    </p>
    <p>
      During intermediate (about 11-12 years old), I started messing around with
      web development, with my skill continuing to grow from there. Through high
      school, I have competed in several competition, from mathematical modeling
      to a terrible ideas hackathon. As I come to the end of high school, I look
      to go to university to complete a bachelor of engineering, majoring in
      software engineering.
    </p>
  </Section>

  <Section>
    <span slot="title">What do I do?</span>
    <span slot="subtitle">I'm a software developer</span>
    <p>
      Of cause, I have my preferences and specialties. While I can make a
      website, I'm more into the backend, away from the CSS. I also like to
      participate in hackathons with my friends. These can range from
      competitions about cyber security to a competition "what is the worst idea
      you can come up with?". I always enjoy a challenge, and these competition
      provide many.
    </p>
  </Section>

  <Section>
    <span slot="title">What do I code in</span>
    <span slot="subtitle">Yes.</span>
    <p>
      I can program in many languages from C# and .NET, to Java, C/C++, Python,
      JavaScript. Sometimes if I'm feeling especially funkey, I might do some
      Haskel.
    </p>
    <p>
      While I can code in many languages, I have my specialties and favourites,
      if it's systems or backend, you'll find me coding in the Rust programming
      language most of the time. If I'm in the browser on the frontend, I'll
      gravitate towards Scss and TypeScript.
    </p>
    <Fragment slot="images">
      <img src={rust} alt="Rust Logo" width="80" height="80" />
      <Image
        src={typescript}
        format="webp"
        alt="TypeScript Logo"
        height="80"
        width="80"
      />
      <Image format="webp" src={sass} alt="Sass Logo" height="80" width="80" />
    </Fragment>
  </Section>

  <Section>
    <span slot="title">What do I use</span>
    <span slot="subtitle">Many things</span>
    <p>
      When it comes to frontend frameworks, I can use React and NextJS, although
      I'm by no means an expert, my skills like with Svelte and SvelteKit. When
      I get a rush of blood to the head, I might try some <em>exotic</em>
      WebAssembly via Rust and the Yew framework. I have also had a bit of experience
      with Blazor.
    </p>

    <p>
      I have used JS on the backend before, generally reaching for Express,
      Next.js or SvelteKit, although I have tried some other options like
      Nest.JS. In saying this, I have had quite a bit of experience with NodeJS.
      I have also got a small bit of experience with Python based frameworks,
      specifically flask and fastapi. In general, I prefer to use rust to write
      my backends, in frameworks like Actix and Rocket.
    </p>

    <Fragment slot="images">
      <Image
        format="webp"
        src={nodejs}
        alt="NodeJS Logo"
        height="80"
        width="130.73"
      />
      <Image
        format="webp"
        src={svelte}
        alt="Svelte Logo"
        height="80"
        width="66.48"
      />
      <Image
        format="webp"
        src={actix}
        alt="Actix Logo"
        height="80"
        width="80"
      />
      <img src={rocket} alt="Rocket Logo" width="238.64" height="80" />
    </Fragment>
  </Section>

  <div class="projects">
    <Section>
      <span slot="title">What have I been upto?</span>
      <span slot="subtitle">Here are some of my recent projects</span>
    </Section>
    <div class="s"></div>
    <div class="cards">
      {
        projects.map(({ frontmatter, url }) => {
          return (
            <ProjectCard
              date={frontmatter.date}
              slug={url ?? ""}
              title={frontmatter.title}
              description={frontmatter.description}
              gitRepo={frontmatter.gitRepo}
              website={frontmatter.website}
            />
          );
        })
      }
    </div>
    <div class="s"></div>
    <a href="/p">See more projects</a>
  </div>

  <Section>
    <span slot="title">Wanna talk</span>
    <span slot="subtitle">Reach out to me on any of the following</span>
    <div class="contact-links">
      <a href="https://github.com/LaSpruca">
        <Image
          format="webp"
          src={github}
          alt="GitHub"
          width="24"
          height="23.44"
        />
        LaSpruca
      </a>

      <a href="https://discord.com/user/403646951259635713">
        <img src={discord} alt="Discord" width="24" height="18.58" />
        LaSpruca#5194
      </a>

      <a href="mailto:contact@laspruca.nz">
        <img src={email} alt="Email" width="24" height="24" />
        contact@laspruca.nz
      </a>
    </div>
  </Section>

  <style lang="scss">
    @use "sass:math";
    @use "../styles/util";

    .projects {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .s {
        height: 5vh;
      }

      a {
        text-decoration: none;
        transition: all 0.2s ease-in-out;
        background-color: util.$color-darker;
        color: util.$text;
        font-size: 1.25rem;
        font-weight: bold;
        text-align: center;
        padding: 1rem;

        &:hover {
          transform: translateY(-0.5rem);
          background-color: util.$color-semi-dark;
        }
      }
    }

    .cards {
      display: grid;
      gap: 1rem;
    }

    .contact-links {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      padding-top: 2rem;
      flex-wrap: wrap;

      a {
        height: 100%;
        text-decoration: none;
        color: util.$text-darker;
        gap: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        background-color: util.$color-semi-dark;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: util.$color;
        }

        :global(*:first-child) {
          width: 1.5rem;
          height: auto;
        }
      }
    }

    @media only screen and (min-width: #{util.$desktop}) {
      .cards {
        grid-template-columns: 50% 50%;
      }
    }
  </style>
</Layout>
